<% title 'Информация' %>
<h1>О талисманах</h1>

<% unless collection.all.blank? %>
  <% collection.each do |information| %>
    <%= content_tag :p, link_to(information.title, information), :class => "title"%>
    <%= content_tag :p, information.short %>
  <% end %>
  <%= paginate(collection) %>
<% else %>
  <p>Пока нет статей.</p>
  <br /><br />
<% end %>

<br />

