doctype transitional
html
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    title Славянское Сердце - #{yield(:title) || 'обзор'}
    /![if IE]
    = stylesheet_link_tag 'ie.css'
    /![endif]
    = stylesheet_link_tag :flutie, 'style'
    = javascript_include_tag :defaults, 'rails.validations'
    = javascript_include_tag 'fancyzoom.min'
    = javascript_include_tag 'flexcroll'
    = javascript_include_tag 'DD_belatedPNG_0.0.8a'
    = csrf_meta_tag
    = yield(:head)
    /! [if IE 6]
    script src="js/DD_belatedPNG_0.0.8a.js"
    script DD_belatedPNG.fix('.wrap, .header h2, .content h1, .menu img, .header h2 a, .new h1, .new .contents, .counters-top, .order a, .item-pic img');
    /! [endif]
    javascript:
      $(document).ready(function() {
          $('div.picture a').fancyZoom({scaleImg: true, closeOnClick: true});
          $('#medium_box_link').fancyZoom({width:400, height:300});
      });
    body
    /![if lt IE 7 ] %body."ie ie6" /![endif]
    /![if IE 7 ]    %body."ie ie7" /![endif]
    /![if IE 8 ]    %body."ie ie8" /![endif]
    /![if IE 9 ]    %body."ie ie9" /![endif]
    /![if (gt IE 9)|!(IE)] %body"" //![endif]
    .wrap
      .header
        h1 = link_to 'Славянское Сердце', root_url
        h2 = link_to 'Древнеславянская языческая мастерская', root_url
        .order = link_to 'Заказать', orders_path
      = render 'layouts/menu'
      = render 'layouts/messages'

    = index_or_not(@page)
    .content
      = yield
    .content-after
    .new
      h1 Новинки
      .contents
        ul
          - @new_articles.each do |a|
            li = link_to(image_tag(a.pic, :size => "160x120"), a )
    .friends
      h1 Друзья сайта
      .contents
    .counters-top
    .counters
      - @ads.each do |ad|
        = raw ad.code

javascript:
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23872959-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

